.sign-in__form,
.sign-up__form {
  margin: 0 60px 10px 60px;
  text-align: center;
  .input {
    margin: 0;
    width: 100%;
  }
  .label {
    display: inline;
    font-size: 13px;
  }
  .field {
    position: relative;
    margin-bottom: 10px;
    .right {
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }
}

.register__message {
  margin: 10px;
  text-align: center;
}

.information__message {
  margin: 20px 10px 10px 10px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

.alert__message {
  margin: 5px 0 0 0;
  font-size: 13px;
  color: #666;
  text-align: right;
}