// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user__list {
  margin: 0 -10px -10px 0;
  padding-top: 10px;
  .profile {
    margin: 0 10px 10px 0;
    color: #000;
    > .image {
      max-width: 64px;
      max-height: 64px;
      margin: 10px auto 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    > .identify {
      padding: 0 10px 10px 10px;
      text-align: center;
    }
  }
}
