<div class="user__list row">
  <% @user_list.each do |user| %>
      <%= link_to profile_path(user.identify), class: 'profile box three columns' do %>
          <div class="image">
            <%= image_tag user.avatar.url %>
          </div>
          <div class="identify">
            <span><%= user.identify %></span>
          </div>
      <% end %>
  <% end %>
</div>