<!DOCTYPE html>
<html>
<head>
  <title>Instate</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<main class="container">
  <%= yield %>
</main>
<footer class="footer">
  <span class="copyright">@ 2016 Instagram</span>
</footer>
</body>
</html>
